@import "tailwindcss";

:root {

  --grad-start: #3b82f6; 
  --grad-end: #d946ef; 
  --foreground: #ffffff;
  
  --card-bg: rgba(255, 255, 255, 0.7); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --grad-start: #d946ef; 
    --grad-end: #5e14be; 
    --foreground: #f3f4f6;
    
    --card-bg: rgba(0, 0, 0, 0.4);
  }
}

body {
  background: linear-gradient(135deg, var(--grad-start), var(--grad-end));
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}